<div class="container-fluid">
<section class="form-dark">

    <div class="card card-image"
        style="background-color:skyblue; width: 30rem; height: 35rem;">
        <div class="container">

            <div class="text-center">
                <h3 class="white-text mb-5 mt-4 font-weight-bold" style="color:whitesmoke;text-shadow: 1px 1px"><strong>Today Weather!</strong> 
                    </h3>
            </div>
            <app-display #display></app-display>

            <app-selection (onSelection)="display.update($event)"></app-selection>
        </div>
    </div>
</section>
</div>